.button-group {
  display: flex;
  flex-direction: row;
}

.button-group button {
  margin-right: 7px;
  font-size: 11px;
}

.button-group button:last-child {
  margin-right: 0px;
}

.button {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  background: #e6e7e9;
  color: #444446;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.button:hover {
  background: #d4d6d5;
}

.button.primary {
  background-color: #f9bd11;
  color: #603f08;
}

.button.primary:hover {
  background: #c9980c;
}

.button.highlighted {
  width: 200px;
}

.button.icon-flip:hover {
  background-image: url("../img/icon_flip.png");
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

@media screen and (min-width: 600px) and (max-width: 720px) {
  .button-group button {
    font-size: 10px;
  }
}
