body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0e0e0e;
}

section {
  margin-top: 3px;
  margin-bottom: 3px;
}

section > h1 {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section > p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) and (max-width: 720px) {
  section > h1 {
    font-size: 14px;
    line-height: 14px;
  }

  section > p {
    font-size: 12px;
  }
}
