body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0e0e0e;
}

@font-face {
  font-family: "Aktiv Grotesk Condensed Hairline";
  src: url("../fonts/aktiv_grotesk_hairline.ttf");
}

section > h1 {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
}

section > p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 681px;
  height: 210px;
  box-shadow: 0px 0px 3px 2px rgba(10, 10, 10, 0.1);
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.card-image {
  width: 255px;
  height: 100%;
}

.card-marker {
  position: absolute;
  top: 0;
  right: 0;
}

.card-container {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.card-header {
  color: #2a88a5;
  text-transform: uppercase;
  font-weight: 800;
}

.card-header > h1 {
  margin: 0px;
  font-size: 19px;
  line-height: 20px;
}

.card-header > h2 {
  margin: 2px;
  font-size: 28px;
  line-height: 24px;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-footer {
  display: flex;
  flex-direction: row;
}

.card-footer button {
  margin-right: 7px;
  height: 30px;
  font-size: 11px;
}

.card-footer button:last-child {
  margin-right: 0px;
}

.card-button {
  flex: 1;
  padding: 5px;
  background: #e6e7e9;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.card-button.primary {
  background-color: #f9bd11;
}