body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0e0e0e;
}

section > h1 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 12px;
}

section > p {
  font-size: 16px;
  line-height: 0px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 681px;
  height: 210px;
  box-shadow: 0px 0px 3px 2px rgba(10, 10, 10, 0.1);
  background-color: #fff;
}

.card-image {
  width: 255px;
  height: 100%;
  border: 0;
}
.card-new-marker {
  position: absolute;
  top: 21px;
  right: -36px;
  transform: rotate(45deg);
  border-bottom: 40px solid #f9bd11;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 75px;
  content: "";
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 2px -3px rgba(10, 10, 10, 0.3);
}

.card-new-marker > p {
  font-size: 22px;
  font-weight: 800;
  line-height: 0px;
}

.card-container {
  width: 100%;
  padding: 15px;
}

.card-header > h1 {
  color: #2a88a5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.card-header > h2 {
  color: #2a88a5;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  margin: 0;
  line-height: 24px;
}

.card-footer {
  display: flex;
  flex-direction: row;
}

.card-button {
  flex: 1;
  text-transform: uppercase;
  padding: 5px;
  margin-right: 5px;
  background: #E6E7E9;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.card-button.primary {
  text-transform: uppercase;
  padding: 5px;
  margin-right: 5px;
  background-color: #f9bd11;
}

/* TRASH */

/* .card-new-marker {
  position: absolute;
  top: 22px;
  right: -15px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .card-new-marker:before {
  position: absolute;
  left: 30px;
  width: 70px;
  height: 40px;
  background-color: #f9bc12;
  content: "";
  z-index: -1;
  transform: skewX(45deg);
} */

/* .card-new-marker:after {
  position: absolute;
  right: 40px;
  width: 70px;
  height: 40px;
  background-color: #f9bc12;
  content: "";
  z-index: -1;
  transform: skewX(-45deg);
} */

/* .card-new-marker {
  position: absolute;
  top: 29px;
  right: -41px;
  transform: rotate(45deg);
  border-bottom: 40px solid #f9bc12;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
